{% extends "base.html" %}

{% block content %}
<div class="post-entry">
  <h2>{{ post.nazwa }}</h2>
  <p>{{ post.smiles }}</p>
  <p>Heat of Formation: {{ post.cieplo }} KJ/MOL </p>  
  <p>Total Energy: {{ post.energia }} EV </p>  
  <p>Method Used: {{ post.metoda }} </p>  
</div>

<img src="/media/{{post.id}}/molecule.png">
<p>
  <script src="https://unpkg.com/ngl@1.0.0-beta.7"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var stage = new NGL.Stage("viewport_start");
      stage.loadFile("/media/{{post.id}}/start.mol2", {defaultRepresentation: true});
    });
  </script> 
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var stage = new NGL.Stage("viewport_start");
      stage.loadFile("/media/{{post.id}}/nalesnik_i_placek.mo12", {defaultRepresentation: true});
      });
  
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var stage = new NGL.Stage("viewport");
      stage.loadFile("/media/{{post.id}}/molecule.mol2", {defaultRepresentation: true});
    });
  
  </script>
  <p>Start.mol2</p> 
  <div id="viewport_start" style="width:400px; height:300px;"></div>
  <p>Molecule.mol2</p>
  <div id="viewport" style="width:400px; height:300px;"></div>
<p><a href="{% url 'post_delete' post.pk %}">+ Delete Molecule</a></p>
{% endblock content %}
